.image {
    background: url('../../../../assets/images/login_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form {
    padding: 40px;
    width: 400px;
    background-color: var(--white);
}

.form-header {
    margin-bottom: 32px;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.form-input {
    margin: 8px 0 24px;
    height: var(--input-height);
    border: 1px solid #ddd;
}

.input-btn {
    padding: 0 10px;
}

.submit-btn {
    margin-top: 56px;
    padding: 10px 16px;
}