.action-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    & ~ .action-btn {
        margin-left: 8px;
    }
}

.title {
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem;
    color: var(--brown);
    text-transform: uppercase;
}