.wrapper {
    &.inline {
        display: grid;
        grid-template-columns: 80px auto;
        margin-bottom: 24px;
    }
    
    &.small.inline {
        display: grid;
        grid-template-columns: 50px auto;
        margin-bottom: 24px;
    }
    
    &.big.inline {
        display: grid;
        grid-template-columns: 120px auto;
        margin-bottom: 24px;
    }

    &:not(.bigText).inline .label {
        display: flex;
        align-items: center;
        margin-right: 8px;
        height: 100%;
    }

    &.inline .container {
        margin: 0;
    }

    // textarea
    &.bigText .container {
        height: fit-content;
    }

    &.bigText.inline .label {
        margin-top: 10px;
    }

    &.bigText .input {
        overflow-y: overlay;
    }
}

.container {
    display: flex;
    background-color: var(--white);
    border-radius: 4px;
    overflow: hidden;
}

.input {
    padding: 10px;
}