.box-title {
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem;
    color: var(--brown);
    text-transform: uppercase;
}

.description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--brown);
}