.title {
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem;
    color: var(--brown);
    text-transform: uppercase;
}

.result-header {
    font-size: 1.8rem;
    color: var(--primary);
}